.bullet {
  background-color: #b142ec;
  margin-top: 3px;
  height: 60px;
  width: 60px;
  text-align: center;
  font-family: 'Arvo', serif; 
  font-size: 36px;
  transform: rotate(-25deg);
  box-shadow: 11px 5px 10px gray;
  border-radius: 50%;
  border: 4px solid black;
  width: 90px; 
  padding-top: 5px;
 
}